.popup123 {
    width: 240px;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 8px;
  
}

.buttonThemMoi {
    width: 114px;
    display: flex;
    height: 32px;
    padding: 4px 12px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    background-color: #438EB9;

}

.rightTable{
    text-align: right; padding-right: 4px;
}



.tabs {
    display: flex;
  }
  
  .tabs>div {
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .tabs>div.active {
    border-bottom: 2px solid #438EB9;
  }