.username {
  color: #3B82F6;
}

.username:hover {
  color: #2196f3;
}

.testHover:hover {
  transform: scale(1.05);
}

.xoay90 {
  transform: rotate(90deg);
}

img {
  -webkit-user-drag: none;

}


.pad {
  padding-top: 8px;
  padding-left: 16px;
  padding-right: 16px;
  height: 88vh;
  overflow-y: auto;
}
.padLogin {
  padding-top: 8px;
  padding-left: 16px;
  padding-right: 16px;
  height: 100vh;
  overflow-y: auto;
}

.containerBox {
  width: 100%;
  height: 90%;
  display: flex;
  border-radius: 8px;
  margin-bottom: 36px;
  padding-top: 8px;
  overflow: y
}

.leftContainer {
  background-color: #ffffff;
  overflow: auto;
  flex-direction: column;
  width: 22%;
  height: 100%;
  border-radius: 8px;
  display: flex;
}

.rightContainer {
  padding-top: 12px;

  padding-right: 12px;

  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  display: flex;
  margin-left: 16px;
  overflow-y: auto;
}

.rightContainerAdd {
  padding-top: 12px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 24px;
  background-color: #ffffff;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  display: flex;

  overflow-y: auto;

}

.chitietCss {
  margin-top: 8px;
  padding-bottom: 24px;
  padding-top: 12px;
  padding-left: 12px;
  padding-right: 12px;
  background-color: #ffffff;
  flex-direction: row;
  width: 100%;
  height: 80%;
  border-radius: 8px;
  display: flex;
  margin-left: 16px;
  display: flex;
  overflow-y: auto;
}

.chitietRow {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin-top: 20px;
}

.oneRightItem {
  display: flex;
  flex-direction: row;
}

.oneItem {
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.oneItemSub { 
  margin-left: 8px;
  margin-right: 8px;
  border-radius: 0px 8px 8px 0px px;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.oneItemDonvi {
  padding-left: 8px;

  display: flex;
  flex-direction: row;
}

.oneItemDonvi:hover {
  color: #2196f3;
}

.allText {
  font-family: InterBold;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  /* 150% */
  text-transform: uppercase;
}

.nText {
  color: var(--pallate-red-red-600, #dc2626);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  text-transform: uppercase;
}

.titleText {
  color: var(--neutral-8, #595959);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.TextNd {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.TextTable {
  color: var(--pallate-base-white, #fff);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.fixRow1 {
  position: sticky;
  top: -2px;
  box-shadow: 0px -1px 1px 0px #e5e5e5 inset;

}

.fixRow2 {
  background-color: #ffffff;
  box-shadow: 0px -1px 0px 0px #ffffff inset;
  position: sticky;
  top: 24px;
}

.search {
  width: 95%;
  height: 38px;
  margin-top: 8px;
  border-radius: 4px;
  border: 1px solid var(--neutral-4, #f0f0f0);
  background: var(--neutral-white, #fff);
}

.labelText {
  padding-left: 8px;
  padding-top: 24px;
  color: var(--neutral-dark-ink-500, #22313f);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.error {
  padding-top: 4px;
  font-style: italic;
  line-height: 16px;

  font-size: 12px;
  color: red;
  margin: 0;
}

.chitietText {
  color: var(--neutral-dark-ink-500, #22313f);

  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  /* 150% */
}

.chitietTextInfo {
  display: flex;
  flex-direction: column;
  width: 50%;
  color: var(--neutral-dark-ink-500, #22313f);

  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  /* 142.857% */
}

.chitietTextInfoLeft {
  display: flex;
  flex-direction: column;
  width: 50%;
  color: var(--neutral-dark-ink-500, #22313f);

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 142.857% */
}

.popup {
  max-width: 100%;
  max-height: 100%;
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.popup-content {

  max-height: 100%;
  max-width: 80%;
  /* Adjust the width as needed */
  position: relative;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 99;
}

.popuptitle {
  color: var(--pallate-base-black, #22313f);
  text-align: center;

  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  /* 140% */
}

.inputbox {
  border-radius: 4px;
  border: 1px solid var(--neutral-dark-ink-200, #e9eaec);
  background: var(--neutral-white, #fff);
}

.buttonSwitch {
  position: relative;
  border: none;
  width: 28px;
  height: 16px;
  background-color: #ccc;
  border-radius: 16px;
  cursor: pointer;
  outline: none;

}

/* Hiệu ứng khi nút switch được bật */
.switch-on {
  background-color: #2196f3;
}

/* CSS cho thanh trượt của nút switch */
.slider {
  position: absolute;
  top: 2px;
  right: 2px;
  width: 12px;
  height: 12px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

.switch-off .slider {
  transform: translateX(-12px);


}

.textPassWord {
  margin-top: 12px;
  color: #6b7280;
  text-align: left;

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 142.857% */
}

.popupEdit {
  display: flex;
  flex-direction: row;
  justify-content: space-between
}


.row {
  display: flex;
  justify-content: row
}

.popupLeft {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-top: 24px;
}

.popupRight {
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin-top: 24px;
}


.popupDelete {

  width: 30%;
  height: 20%
}

.popupDonvi {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-right: 24px;
}

.inputPassWord {

  width: 100%;
  height: 48px;
  border-radius: 4px;
  border: 1px solid var(--neutral-dark-ink-200, #e9eaec);
  background: var(--neutral-white, #fff);

}

.diaLog {
  padding-left: 8px;
  padding-top: 12px;
  padding-right: 8px;
  width: 100%;
  height: 58px;
  border-radius: 8px;
  box-shadow: 1px 1px 5px 1px #f4f1f1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.oneLeft {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 8px;
  padding-right: 8px;
}

.rowSpaceB {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.rowRight {
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin-top: 36px;
}

.tenPhongban {
  color: #000;

  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}


.derTable {
  background-color: rgb(255, 255, 255);
  height: 75%;
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  border-radius: 12px 12px 0px 0px;

}

.derTable-hethong {
  border-radius: 10px 10px 0px 0px;
  background-color: rgb(255, 255, 255);
  height: 90%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.rightContainer-hethong {
  margin-top: 8px;
  background-color: #ffffff;
  flex-direction: column;
  width: 100%;

  border-radius: 8px;
  display: flex;
  overflow-y: auto;
}

.hoverText {

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.textOnline {
  color: var(--primary-primary-1, #438EB9);

  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  /* 142.857% */

}

.textPretab {
  margin-top: 8px;
  color: var(--character-secondary-45, rgba(0, 0, 0, 0.45));
  /* Inter/14/Regular */
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 142.857% */
}

.fullW {
  padding-top: 16px;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 8px;
  margin-top: 8px;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: auto;
  background-color: #ffffff;

}

.titleTextThemMoi {
  color: var(--pallate-base-black, #22313F);
  /* Inter/18/Medium */

  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  /* 133.333% */
}

.rowCenter {
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.tableDivider {
  height: 56px;
  box-shadow: 0px 0.3px 0px rgba(0, 0, 0, 0.3);
}

.border {
  background-color: #438eb9;
  width: 100%;
  box-shadow: 0px -1px 0px 0px #ffffff inset;
}

.textLink{
  color: #2196f3;
}
@media (max-width: 768px) {
  .popup-content {
    max-width: 90%;
    max-height: 90%;
    /* Adjust the width for smaller screens */
  }
}