.with3 {
  width: 3%;
}
.with5 {
  width: 5%;
}

.with8 {
  width: 8%;
}

.with10 {
  width: 10%;
}

.with18 {
  width: 18%;
}

.with12 {
  width: 12%;
}

.with32 {
  width: 32%;
}

.with50 {
  width: 50%;
}

.with80 {
  width: 80%;
}

.with66 {
  width: 66%;
}

.with100 {
  width: 100%;
}
.with25 {
  width: 25%;
}
.with22 {
  width: 22%;
}

.height25 {
  height: 25%;
}

.height50 {
  height: 50%;
}

.height75 {
  height: 75%;
}

.height68px {
  height: 68px;
}


.marginL8 {
  margin-left: 8px;
}

.paddingL8 {
  padding-left: 8px;
}

.paddingL16 {
  padding-left: 16px;
}


.paddingR8 {
  padding-right: 8px;
}

.paddingR16 {
  padding-right: 16px;
}

.spaceRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 4px;
}



.borderRadius8px {
  border-radius: 8px 0px 0px 0px
}