.colLeft {
  
  display: flex; width: 50%; background-color: rgba(67, 142, 185, 0.08); border-radius: 12px ; margin-left: 36px;margin-top: 48px; margin-bottom: 48px;
}
.buttonXacNhan{
  width: 100%;
  border: 0;
  margin-top: 24px;
  height: 38px;

  background-color: var(--primary-primary-1, #176697);
  border-radius: 4px;
  display: flex;
  padding: 16px 12px;
  justify-content: center;
  align-items: center;
}
.buttonQuayLai {
  width: 100%;
  border: 0;
  margin-top: 24px;
  height: 38px;

  background: var(--primary-background, rgba(67, 142, 185, 0.16));
  border-radius: 4px;
  display: flex;
  padding: 16px 12px;
  justify-content: center;
  align-items: center;

}
.colRight {
  display: flex; width: 50%; background-color: rgb(255, 255, 255); flex-direction: column;margin-top: 48px; margin-bottom: 48px; 
}

.imageBack {
  max-height: 100%;
  max-width: 100%;
}

.footer{

  align-self: stretch;
  position: absolute;
  bottom: 48px;
}



.footer1{  
  min-width:300px;
  margin-left: 88px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;

  gap: 60px;
  align-self: stretch;

}
.footer1-text{
  color: #22313F;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */

}
.footer2{
  min-width:300px;
  margin-left: 188px;

  color: #6B7280;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Quicksand;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */

}
.TextLogin {

  padding-left: 78px;
  padding-right: 78px;
  color: var(--pallate-base-black, #22313F);
  text-align: center;
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px; /* 171.429% */
  text-transform: uppercase;
}
.logoTT{
  font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 24px;
  color: var(--pallate-base-black, #22313F);
  display: flex;
  justify-content: center;
  margin-top: 28px; 


}

.changePass{
  padding-top: 16px;
  padding-right: 117px;
  color: var(--primary-primary-1, #176697);
text-align: right;

/* Inter/14/Regular */
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */
}


.inputForm{
  min-width: 300px;
  padding-left: 117px;
  padding-right: 117px;

}

.loginButtoxn {
  display: flex;
  padding: 16px 12px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  margin-top: 28px;
  border-radius: 4px;
  width: 100%;
  height: 36px;
  background: var(--primary-primary-1, #438eb9);
}

.loginButtonText {
  color: var(--white, #fff);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}


.textPassWord{
 color: var(--primary-primary-1, #176697);
/* Inter/14/Regular */
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */
 display: flex;
  flex-direction: row;
}



@media screen and (max-width: 1200px) {
  /* .footer {display: none;}
  .colLeft{
    display: none;
  } */

  .TextLogin  {
    line-height : 30px;
    font-size : 18px
  }


}


/*Ipad dọc(768 x 1024)*/
@media screen and (max-width: 1200px) {
  .footer {display: none;}
}

/*Tablet nhỏ(480 x 640)*/
@media screen and (max-width: 480px) {}

/*Iphone(480 x 640)*/
@media screen and (max-width: 320px) {}

/*Smart phone nhỏ*/
@media screen and (max-width: 240px) {}


@media screen and (max-height: 800px) {
  .footer {display: none;}

}

