.TextTableLast {
    padding-right: 4px;
    color: var(--pallate-base-white, #fff);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    text-align: right
}

.TextCenter {
    text-align: center;
}

.TextColorLableGray {
    color: #595959
}

.TextColorContent {
    color: #2196f3;
}

.TextRight {
    text-align: right;
}

.TextTableCenter {
    padding-right: 4px;
    color: var(--pallate-base-white, #fff);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    text-align: center
}

.padding-top50 {
    padding-top: 50px;
}

.columFull {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.paddingT8 {
    padding-top: 8px;
}

.height60pxweight100 {
    height: 60px;
    width: 100%;
}

.inputNoiDung {
    padding-top: 8px;
    height: 60px;
    width: 100%;
    border: 1px solid #E9EAEC;
    font-size: 13px;
    border-color: #E9EAEC;
}
.inputNoiDung30 {
    padding-top: 8px;
    height: 32px;
    width: 100%;
    border: 1px solid #E9EAEC;
    font-size: 13px;
    border-color: #E9EAEC;
}

.paddingL4 {
    padding-left: 4px;
}

.paddingR4 {
    padding-right: 4px;
}
.redAsterisk {
    color: red; /* Đặt màu chữ là đỏ */
    font-weight: bold; /* In đậm */
    margin-left: 5px; /* Tạo khoảng cách giữa chữ "Lý do:" và dấu "*" */
}