@font-face {
    font-family: 'InterFont';
    src: url('../fonts/Inter-Regular.ttf') format('truetype');  
  }
  /* , url('../fonts/Inter-SemiBold.ttf'),url('../fonts/Inter-Medium.ttf') */
@font-face {
  font-family: "InterBold";
  src: url("../fonts/Inter-SemiBold.ttf"), format("truetype");
}
@font-face {
  font-family: "InterMedium";
  src: url("../fonts/Inter-Medium.ttf"), format("truetype");
}

html {
  height: 100%;
}

.v-container {
  margin: 0 auto;
}

.v-container__inner {
  padding: 30px;
}

.page-container {
  height: 100%;
  overflow: hidden;
}

.v-container {
  margin: 0 auto;
}

.v-container__inner {
  padding: 30px;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
  color: #838486;
}
.pagination button {
  background: #95cbb7;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 15px;
  padding: 0px;
  height: 35px;
  width: 35px;
  font-size: 22px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #263959;
  height: 60px;
  padding-left: 20px;
}
.navbar {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.navbar ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}
.navbar-item {
  display: inline-block;
  border-right: 1px solid #3c4d6a;
  vertical-align: middle;
}
ul .navbar-item:last-child,
ul .navbar-mobile-item:last-child {
  border-right: none;
}
.navbar-item a {
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 18px;
}
input {
  box-shadow: none;
}
form {
  margin: 0;
}
.form-input {
  border: 1px solid #ddd;
  border-radius: 20px;
  box-sizing: border-box;
  font: inherit;
  padding: 5px 10px;
  transition: all 0.3s ease;
  width: 100%;
  color: #505050;
  background-color: #dbe4ee;
  min-height: 43px;
}
.form-input:disabled {
  cursor: no-drop;
  background: #f5f8fe;
  color: #bbbbbb;
}
.form-input:disabled::placeholder {
  color: #bbbbbb;
}
.form-input::placeholder {
  font-size: inherit;
  font-weight: 300;
  color: #878787;
}
.form-input:focus {
  outline: none;
  border: 1px solid #c7c7c7;
  color: #434343;
  background-color: white;
}
.form-input:invalid {
  border-color: #c82543;
}
.form-input:invalid ~ .form-error {
  display: block;
}
textarea.form-input {
  padding-top: 7px;
  padding-right: 2px;
  padding-bottom: 0px;
  min-height: 110px;
}
.input-error {
  border-color: #c82543;
}

.input-error ~ .form-error {
  display: block;
}

.form-error {
  background: #f4d3d9;
  color: #c82543;
  font-size: 0.8em;
  border-radius: 100px;
  padding: 4px 20px;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
}

.form-group {
  margin-bottom: 12px;
  width: 100%;
  display: inline-block;
}

.form-label,
.form-group > label {
  margin-bottom: 5px;
  display: inline-block;
  color: #002a7d;
  font-weight: 600;
}

.form-label-password,
.form-group > label-password {
  margin-bottom: 0px;
}

.form-2cols .form-group {
  flex-basis: 47%;
}

.form-2cols .form-group:nth-child(odd) {
  margin-right: 10px;
}

.btn,
.btn-blue {
  padding: 10px 30px;
  border-radius: 5px;
  border: none;
  display: inline-block;
  outline: 0;
  font-weight: 600;
}
.btn-block {
  width: 100%;
}
.btn-blue {
  color: white;
  background-color: #2d5cb9;
}
button {
  outline: 0;
}
.form-actions,
.btn-group {
  display: flex;
  justify-content: flex-end;
  flex-basis: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.card {
  background: white;
  margin-top: 20px;
}
.card-form {
  padding: 40px 60px;
  position: relative;
  z-index: 1;
  margin-top: 40px;
}

@media (min-width: 1360px) {
  .card-form {
    padding: 60px;
  }
}

body {
  height: 100%;

  font-family: "InterFont" !important;
  color: #545454;
  font-size: 16px;
  line-height: 1.5;
  overflow-x: hidden;
  box-sizing: border-box;
}

@media (min-width: 240px) and (max-width: 720px) {
  body {
    font-size: 15px;
  }
}

body a {
  color: #57ad8d;
  text-decoration: none;
}

body a:hover {
  color: #41826a;
  cursor: pointer;
  transition: all 0.3s ease;
}
@media (min-width: 240px) and (max-width: 720px) {
  .col-small {
    flex-basis: 98%;
    margin: 0 1%;
  }
}

@media (max-width: 820px) {
  .desktop-only,
  .forum-list .forum-listing .threads-count,
  .forum-list .forum-listing .last-thread,
  .forum-stats,
  .thread-list .thread .activity,
  .navbar-user {
    display: none;
  }
}

@media (min-width: 820px) {
  .mobile-only,
  .navbar-mobile-item {
    display: none;
  }
}

@media (max-width: 720px) {
  .hide-mobile {
    display: none;
  }
}

@media (min-width: 720px) and (max-width: 820px) {
  .hide-tablet {
    display: none;
  }
}

@media (max-width: 720px) {
  .hide-desktop {
    display: none;
  }
}
#app {
    background: #F5F8FA;
    height: 100%;
}
.Pagination {
  justify-content: center;
  margin: 40px !important;
}
.Pagination .Page-active {
  color: white;
}
.centerPage {
  margin: 0 auto;
}
.loading {
  margin: 20% 45%;
}
.table-tr-fisrt{
  padding: 8px 16px 8px 8px;
}
.border-radius-rigth-table{
  border-radius: 0px 8px 0px 0px ;
}
.col-lable-padding td{
  padding: 0px 8px;
}
.col-right-table{
  text-align: right; 
  padding-right: 16px !important;
}
.text-center {
  text-align: center !important;
}
.text-right{
  text-align: right !important;
}
.text-left{
  text-align: left !important;
}
.paddingSTT{
  padding-left: 16px !important;
}
.div-table-relative{
  position: relative;
}
.div-table-absolute-paging{
  bottom: 0px;
  width: 100%;
}
.tableRowHeight48 {
  height: 48px;
  box-shadow: 0px 0.3px 0px rgba(0, 0, 0, 0.3);
}