<template>
    <div class="content">
     
  

    </div>
</template>

<script>

import { mapActions , mapGetters , mapMutations  , mapState} from "vuex";
export default {
  watch: {
    "showToastCommon" : function(newval , oldval){
      alert("111");
    }
  },
  computed: {
 

  },

  data() {
    return {
      currentDate: new Date(),
      currentMonth: 0,
      currentYear: 0,
      calendar: [],
      listPhanHoi : [],
      outputCalendar: "",
      selectedDate: null,
      showContent: false,
    };
  },
  computed: {
    daysOfWeek() {
      return ["T2", "T3", "T4", "T5", "T6", "T7", "CN"];
    },
    currentMonthYear() {
      const month = this.currentMonth + 1; 
      return `${month}/${this.currentYear}`;
    },
  },
  methods: {
    toggleContent() {
      this.showContent = !this.showContent;
    },
    generateCalendar() {
      const firstDayOfMonth = new Date(this.currentYear, this.currentMonth, 1);
      const lastDayOfMonth = new Date(this.currentYear, this.currentMonth + 1, 0);
      const lastDayOfPrevMonth = new Date(this.currentYear, this.currentMonth, 0);

      const daysInMonth = lastDayOfMonth.getDate();
      const daysInPrevMonth = lastDayOfPrevMonth.getDate();
      const firstDayOfWeek = firstDayOfMonth.getDay();

      const calendar = [];
      let week = [];

      // Thêm các ngày của tháng trước 
      for (let i = 0; i < firstDayOfWeek; i++) {
        const prevDate = daysInPrevMonth - firstDayOfWeek + i + 1;
        week.push({
          day: prevDate,
          date: new Date(this.currentYear, this.currentMonth - 1, prevDate),
          dateString: new Date(this.currentYear, this.currentMonth - 1, prevDate).toLocaleDateString('en-GB', { day: '2-digit', month: '2-digit', year: 'numeric' }),
          isCurrentMonth: false,
        });
      }

      //Thêm các ngày của tháng hiện tại
      for (let i = 1; i <= daysInMonth; i++) {
        week.push({
          day: i,
          date: new Date(this.currentYear, this.currentMonth, i),
          dateString: new Date(this.currentYear, this.currentMonth, i).toLocaleDateString('en-GB', { day: '2-digit', month: '2-digit', year: 'numeric' }),
          isCurrentMonth: true,
        });

        if (week.length === 7) {
          calendar.push(week);
          week = [];
        }
      }

      // Thêm các ngày của tháng sau 
      let nextMonthDay = 1;
      for (let i = week.length; i < 7; i++) {
        week.push({
          day: nextMonthDay,
          date: new Date(this.currentYear, this.currentMonth + 1, nextMonthDay),
          dateString: new Date(this.currentYear, this.currentMonth + 1, nextMonthDay).toLocaleDateString('en-GB', { day: '2-digit', month: '2-digit', year: 'numeric' }),
          isCurrentMonth: false,
        });
        nextMonthDay++;
      }

      calendar.push(week);
      
      this.calendar = calendar;


      const outputCalendar = [];

      calendar.forEach(week => {
        week.forEach(day => {
          const date = day.date;
          const formattedDate = date.toLocaleDateString('en-GB', { day: '2-digit', month: '2-digit', year: 'numeric' });
          outputCalendar.push(formattedDate);
        });
      });
     debugger
      this.outputCalendar = JSON.stringify(outputCalendar);
      const url = `/your-api-endpoint?outputCalendar=${this.outputCalendar}`;

      this.listPhanHoi = [
        {
          date : "27/08/2023",
          listPhanHoi: [
            {},
            {}
          ]
        },
        {
          date : "28/08/2023",
          listPhanHoi: [
            {},
            {}
          ]
        }
       
      ]

      },
    prevMonth() {
      this.currentMonth--;
      if (this.currentMonth < 0) {
        this.currentYear--;
        this.currentMonth = 11;
      }
      this.generateCalendar();
      this.updateCurrentMonthYear();
    },
    nextMonth() {
      this.currentMonth++;
      if (this.currentMonth > 11) {
        this.currentYear++;
        this.currentMonth = 0;
      }
      this.generateCalendar();
      this.updateCurrentMonthYear();
    },
    selectDate(day) {
        if (!day.isCurrentMonth) return; 
      this.selectedDate = day.date;
    },
    isSelected(day) {
      return (
      this.selectedDate !== null && day.date.getTime() === this.selectedDate.getTime()
      );
    },
    updateCurrentMonthYear() {
      const month = this.currentMonth + 1;
      this.currentMonthYear = `${month}/${this.currentYear}`;
    },
    isWeekend(day) {
        const dayOfWeek = day.date.getDay();
        return dayOfWeek === 5 || dayOfWeek === 6; 
    }, 
    isToday(day) {
        const today = new Date();
        return (
            day.date.getDate() === today.getDate() &&
            day.date.getMonth() === today.getMonth() &&
            day.date.getFullYear() === today.getFullYear()
        );
    },
  },

  created() {
    this.currentDate = new Date();
    this.currentMonth = this.currentDate.getMonth();
    this.currentYear = this.currentDate.getFullYear();
    this.generateCalendar();
  
  },

}


var itemBoxTops = document.querySelectorAll('.item-box-top');
itemBoxTops.forEach(function(itemBoxTop) {
  itemBoxTop.addEventListener('click', function() {
    var itemBoxContent = this.parentElement.querySelector('.item-box-content');
    if (itemBoxContent.style.display === 'none' || itemBoxContent.style.display === '') {
      itemBoxContent.style.display = 'block';
    } else {
      itemBoxContent.style.display = 'none';
    }
  });
});
</script>


<style scoped>
  .home-dashboard{
    padding: 20px;
  }

  .box-home-header{
    background: rgba(67, 142, 185, 0.16);
    border-radius: 8px 8px 0px 0px;
  }
  .box-home-header > label{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
   
  }
  .box-home-content{
    background: white;
    border-radius: 0px 0px 8px 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .box-home-detail{
    padding: 24px 16px 16px 16px;
    display: flex;
    align-items: center;
  }
  .box-home-detail >span {
    font-family: Roboto;
    font-size: 38px;
    font-style: normal;
    font-weight: 500;
    line-height: 46px; 
    color: #176697;
  }
  .box-home-detail >label {
    margin-left: 12px;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
    color: #22313F;
  }
  .box-home-content >img {
    width: 19.375px;
    height: 22.143px;
    margin-right: 16px;
  }
  .mt16{
    margin-top: 16px;
  }
  .mt24{
    margin-top: 24px;
  }
  .calendar-title{
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    color: #22313F;
    padding-top: 16px;
  }
  .calendar-header > label{
    color: #22313F;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; 
    margin: 0px 20px;
  }
  .calendar-header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;

  }
  .box-calendar{
    background: white;
    border-radius: 16px;
  }
  .calendar-table{
    padding: 16px;
    width: 100%;
  }
  .calendar-table-header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 16px;
    border-bottom: 1px solid #EAEAEA;

  }
  .calendar-table-header span {
    flex: 1;
    text-align: center;
}
  .calendar-table-content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 32px;
  }
  .calendar-table-content span{
    flex: 1;
    text-align: center;
  }
  .outMonth{
    color: rgba(0, 0, 0, 1);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    opacity: 0.4;
  }
  .selected {
    background: red !important;
    color: white !important;
    padding: 5px;
    border-radius: 15px;
    font-weight: 600;
  }
  .inMonth { 
    color:  rgba(98, 98, 98, 1);
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; 
    cursor: pointer;
  } 

  .weekend{
    color: rgba(177, 31, 36, 1);
    cursor: pointer;
  }
  .today {
    background: blue;
    color: white !important;
    padding: 5px;
    border-radius: 15px;
    font-weight: 600;
  }
  .box-content-right{
    background: white;
    padding: 16px;
  }
  .item-box{
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #E5E5E5;
    background: #FFF;
  }
  .box-active{
    border: 1px solid #2F6BFF !important;
  }
  .item-box-top{
    display: flex;
   justify-content: space-between;
  }
  .item-box-content{
   padding: 16px 0px;
   border-bottom: 1px solid #EEE;
  }
  .item-box-content > p{
    margin: 2px 0px !important;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    color: rgba(98, 98, 98, 1);
    line-height: 20px;
  }
  .item-box-content > label{
    color:  rgba(58, 59, 63, 1);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; 
  }
  .item-box-top >span{
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    color: rgba(34, 49, 63, 1);
  }
  .item-box-content > span{
    color:  rgba(98, 98, 98, 1);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }
  .item-box-content > .time{
   margin-left: 8px;
  }
  .item-box >.item-box-content:last-child{
   padding: 16px 0px;
   border-bottom: none;
  }
  .item-box-active >span{
    color: rgba(47, 107, 255, 1) !important;
  }
</style>
