<template>
  <router-link :to="{ name: 'Home' }">Read some cool threads</router-link>
</template>

<script>
// import sideBar from "../components/sideBar.vue";
export default {
  components: {},
  data() {
    return {};
  },
  methods: {},

  created() {},

  mounted() {},
};
</script>

<style></style>
