<template>
  <router-link :to="{ name: 'Home' }">Read some cool threads</router-link>
</template>

<script>

export default {
 
  data() {
    return {
      
    };
  },
  methods: {

  },
};
</script>

<style>

</style>
