<template>
  <div
    class="padLogin"
    style="display: flex; justify-content: center; padding-top: 0px"
  >
    <div
      style="
        display: flex;
        background-color: rgb(255, 255, 255);
        justify-content: center;
        width: 1440px;
        border-radius: 12px;
      "
    >
      <div class="colLeft">
        <img class="imageBack" src="../assets/svg/back_login.svg" />
      </div>
      <div class="colRight">
        <div class="TextLogin">
          HỆ THỐNG QUẢN LÝ KẾ HOẠCH VÀ THEO DÕI ĐÔN ĐỐC THANH TRA
        </div>
        <div class="logoTT"><img src="../assets/svg/logo_login.svg" /></div>

        <div v-if="checkForm.login">
          <div class="logoTT">Đăng nhập</div>

          <div class="inputForm">
            <ValidationForm
              tabindex="1"
              @enterKey="enterLogin"
              ref="inputTenDangNhap"
              label="Tên Đăng Nhập"
              @output="form.username = $event"
              :inputValue="form.username"
              required
            >
            </ValidationForm>
          </div>
          <div class="inputForm">
            <ValidationForm
              tabindex="1"
              @enterKey="enterLogin"
              ref="inputMatKhau"
              type="password"
              label="Mật Khẩu"
              @output="form.password = $event"
              :inputValue="form.password"
              required
            >
            </ValidationForm>
          </div>
          <div class="inputForm">
            <button
              class="withForm"
              @click="signInButton"
              style="
                width: 100%;
                border: 0;
                margin-top: 24px;
                height: 38px;

                background-color: var(--primary-primary-1, #176697);
                border-radius: 4px;
                display: flex;
                padding: 16px 12px;
                justify-content: center;
                align-items: center;
              "
            >
              <span style="color: aliceblue"> Đăng Nhập</span>
            </button>
          </div>
          <div class="changePass">
            <a @click="(checkForm.login = false), (checkForm.rePass = true)">
              Quên mật khẩu ?</a
            >
          </div>
        </div>
        <div v-if="checkForm.rePass">
          <div class="logoTT">Quên mật khẩu</div>

          <div class="inputForm">
            <ValidationForm
              ref="inputEmail"
              label="Email"
              @output="emailData = $event"
              required
            >
            </ValidationForm>
          </div>

          <div class="inputForm">
            <button class="withForm buttonXacNhan" @click="sendMailPass">
              <span style="color: aliceblue"> Xác nhận</span>
            </button>
          </div>

          <div class="inputForm">
            <button
              class="withForm buttonQuayLai"
              @click="(checkForm.login = true), (checkForm.rePass = false)"
            >
              <span style="color: var(--primary-primary-1, #176697)">
                Quay về trang đăng nhập</span
              >
            </button>
          </div>
        </div>

        <div class="footer">
          <div class="footer1">
            <span class="footer1-text"
              ><img src="../assets/svg/logoMail.svg" />
              thanhtra@bacninh.gov.vn</span
            >
            <span class="footer1-text"
              ><img src="../assets/svg/logoPhone.svg" />1800 xxx xxx</span
            >
          </div>

          <div class="footer2">2023 QTTT, All right Reserved</div>
        </div>
      </div>
    </div>
  </div>

  <show-toast
    :message="toastMess"
    :show="openToast"
    :status="statusToast"
  ></show-toast>
</template>

<script>
import { mapActions } from "vuex";
import ValidationForm from "../components/ValidationForm.vue";
import ShowToast from "../components/ShowToast.vue";
export default {
  mounted () {
    this.$refs.inputTenDangNhap.focus();
  },
  created() {
    
    //check nếu có token thì bay thẳng vào home
    let a = window.localStorage.getItem("x-Ricoh-token");
    if (a) {
      this.successRedirect();
    }
  },
  components: {
    ValidationForm,
    ShowToast,
  },
  data() {
    return {
      emailData: "",
      checkForm: {
        login: true,
        rePass: false,
      },
      statusToast: 0,
      toastMess: "",
      openToast: false,
      form: {
        username: "superadmin",
        password: "superadmin",
      },
    };
  },
  methods: {
    enterLogin(){
      this.signInButton();
      this.$refs.inputMatKhau.focus();
    },
    ...mapActions("SignInApi", ["signIn", "forgotPass"]),
    ...mapActions("User", ["getUser"]),
    ...mapActions("Role", ["getRole"]),
    ...mapActions("permisson", ["getPermission"]),
    ...mapActions("Departments", ["getDepartments"]),
    ...mapActions("GovAgencies", ["getGovagencies"]),
    ...mapActions("Organizations", ["getOrgarizations"]),
    ...mapActions("DcReportingPeriod", ["getListReport"]), // Tổ chức / Cá Nhân
    sendMailPass() {
      let a = this.$refs.inputEmail.validate();
      if (a) {
        this.forgotPass("?mail=" + this.emailData).then((res) => {
          if (res.statuscode == 200) {
            this.statusToast = 0 ;
            this.openToast = !this.openToast;
            this.toastMess = "Gửi mật khẩu thành công ."
          } else {
            this.statusToast = 1 ;
            this.openToast = !this.openToast;
            this.toastMess = "Đã có lỗi xảy ra."
          }
        });
      }
    },
    signInButton() {
      let hasError = false;
      if (!hasError) {
        let a = this.$refs.inputTenDangNhap.validate();
        let b = this.$refs.inputMatKhau.validate();
        if (a && b) {
          this.signIn(this.form)
            .then((res) => {
              if (res.statuscode == 200) {
                
                this.successRedirect();
                const menu = JSON.stringify(res["menus"]);
                window.localStorage.setItem("menus", menu);
                window.localStorage.setItem("x-Ricoh-token", res["token"]);
                window.localStorage.setItem("admin", res["isAdministrator"]);
                window.localStorage.setItem("idUser", res["_id"]);
                window.localStorage.setItem("fullName", res["fullname"]);
                window.localStorage.setItem("username", this.form.username);
                window.localStorage.setItem("user", JSON.stringify(res));
              }

              if (res.statuscode == 400) {
                // alert(res.msg);
                this.statusToast = 1;
                this.toastMess = res.msg;
                this.openToast = !this.openToast;
              }
            })
            .then((res) => {
              let param = "?perPage=1000";
              this.getListReport(param).then((res) => {
                let jsonObj = JSON.stringify(res.data);
                window.localStorage.setItem("reports", jsonObj);
              });
             
           
              this.getUser(param).then((res) => {
                let saveItem = JSON.stringify(res.data);
                window.localStorage.setItem("setUser", saveItem);
              });

              this.getRole(param).then((res) => {
                let saveItem = JSON.stringify(res.data);
                window.localStorage.setItem("setRole", saveItem);
              });

              this.getPermission(param).then((res) => {
                let saveItem = JSON.stringify(res.data);
                window.localStorage.setItem("setPermission", saveItem);
              });

              this.getDepartments(param).then((res) => {
                let saveItem = JSON.stringify(res.data);
                window.localStorage.setItem("setDepartments", saveItem);
              });

              this.getGovagencies(param).then((res) => {
                let saveItem = JSON.stringify(res.data);
                window.localStorage.setItem("setGovagencies", saveItem);
              });

              this.getOrgarizations(param).then((res) => {
                let saveItem = JSON.stringify(res.data);
                window.localStorage.setItem("setOrganizations", saveItem);
              });
            })
            .catch((err) => {});
        }
      }
    },

    successRedirect() {
      const redirectTo = this.$route.query.redirectTo || {
        name: "Home",
      };
      this.$router.push(redirectTo);
    },
  },
};
</script>

<style scoped src="@/assets/css/sign-in.css"></style>
