<template>
  <el-button  class="customButton" :color="color" :style="st">
    <img :src="iconItem" style="margin-right: 4px" />
    <span :style="stt">{{ text }}</span>
  </el-button>
</template>

<script>
import iconAdd from "@/assets/svg/button/iconAdd.svg";
import iconClose from "@/assets/svg/button/iconClose.svg";
import iconUpload from "@/assets/svg/button/iconUpload.svg";
import iconSave from "@/assets/svg/button/iconSave.svg";
import iconHis from "@/assets/svg/button/iconHis.svg";
import iconBack from "@/assets/svg/button/iconBack.svg";
import iconDel from "@/assets/svg/button/iconDel.svg";
import iconEdit from "@/assets/svg/button/iconEdit.svg";
import iconConfirm from "@/assets/svg/button/iconConfirm.svg";
import iconShare from "@/assets/svg/button/iconShare.svg";
import iconChuyenTH from "@/assets/svg/iconChuyenTH.svg";
import iconAddLook from "@/assets/images/addIconLook.svg";
import iconAddCircle from "@/assets/images/icon_them_don_vi.svg";


export default {
  created() {
    this.st.width = this.width;
    this.st.height = this.height;

    switch (this.icon) {
      case "add":
        this.iconItem = iconAdd;
        break;
      case "close":
        this.iconItem = iconClose;
        break;
      case "upfile":
        this.iconItem = iconUpload;
        break;
      case "save":
        this.iconItem = iconSave;
        break;
      case "his":
        this.iconItem = iconHis;
        this.stt.color = "white";
        break;
      case "back":
        this.stt.color = "white";
        this.iconItem = iconBack;
        break;
      case "del":
        this.stt.color = "red";
        this.iconItem = iconDel;
        break;
      case "edit":
        this.iconItem = iconEdit;
        break;
      case "confirm":
        this.iconItem = iconConfirm;
        this.stt.color = "white";
        break;
        case "share":
        this.iconItem = iconShare;
        this.stt.color = "white";
      case "iconChuyenTH":
        this.stt.color = "white";
        this.iconItem = iconChuyenTH;
        break;
      case "iconAddLook":
        this.stt.color = "white";
        this.iconItem = iconAddLook;
        break;
      case "iconAddCircle":
        this.stt.color = "white";
        this.iconItem = iconAddCircle;
        break;
    }
  },
  data() {
    return {
      
      st: {
        width: "",
        height: "",
      },
      stt: {
        color: "",
      },
      iconItem: null,
    };
  },
  props: {
    type :  {
      type: String,
      required: false,
    },
    border : {
      type: Boolean,
      required: false,
    },
    height: {
      type: String,
      required: false,
    },
    width: {
      type: String,
      required: false,
    },
    icon: {
      type: String,
      required: false,
    },
    color: {
      type: String,
      required: false,
      default: "#438EB9",
    },
    text: {
      type: String,
      required: false,
    },
  },
};
</script>

<style>
.customButton {
  width: 100px;
  display: flex;
  flex-direction: row;
  height: 32px;
  padding: 4px 12px;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
</style>
