<template>
  <div>
    <el-checkbox
      v-model="isCheckedAll"
      @change="handleCheckAllChange"
      label="Check All"
    ></el-checkbox>
    <ul>
      <li v-for="(item, index) in items" :key="index">
        <el-checkbox v-model="item.checked">
          {{ item.label }}
        </el-checkbox>
        <ul v-if="item.children && item.children.length">
          <checkbox-tree
            :items="item.children"
            v-model="item.checked"
            @child-checked="handleChildChecked"
          ></checkbox-tree>
        </ul>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  props: {
    items: Array,
  },
  data() {
    return {
      isCheckedAll: false,
    };
  },
  watch: {
    items: {
      handler() {
        this.isCheckedAll = this.isAllChecked;
      },
      deep: true,
    },
  },
  computed: {
    isAllChecked() {
      return this.items.every((item) => item.checked);
    },
  },
  methods: {
    handleCheckAllChange() {
      const newValue = this.isCheckedAll;
      this.items.forEach((item) => {
        item.checked = newValue;
        item.children.forEach((element) => {
          element.checked = newValue;
        });
      });
    },
    handleChildChecked() {
      this.isCheckedAll = this.isAllChecked;
    },
  },
};
</script>
