<template>
  <div class="modal-history" v-if="isShowModal">
    <div class="pull-right container-history">
      <div class="title-history">
        <span>Lịch sử kỳ báo cáo</span>
        <span>
          <img src="@/assets/images/ReportPeriod/icon_close.png" @click="handleClose" />
        </span>
      </div>
      <div class="content-history">
        <div class="his-step-content" v-for="(item, index) in listHistory" :key="item._id">
          <div class="phase-history">
            <div v-if="index + 1 <= listHistory.length && listHistory.length > 1" class="container-phase">
              <div class="dot-phase"></div>
            </div>
            <div v-if="index + 1 < listHistory.length" class="div-phase"></div>
          </div>
          <div class="his-step">
            <span class="his-step-common his-step-time"><img src="@/assets/images/icon_time_his.png" />
              {{ formatDate(item.action_at) }}</span>
            <div class="his-step-common his-step-notification">
              <img src="@/assets/images/icon_notification.png" /><span>{{ onGetUserInfo(item.actor) ?? "Người dùng" }}
              </span>
              {{ item.content }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapActions } from "vuex";

export default {
  components: {},
  props: {
    isShowModal: {
      type: Boolean,
      default: false,
    },
    listHistory: {
      type: Array,
      default: [],
    },
  },
  data() {
    return {
      isShow: false,
      userInfo: {
        roles: ["64e8817946e87f001a829ecd"],
        manage: [],
        isAdministrator: 1,
        permission: [],
        activated: 0,
        _id: "64e882ae46e87f001a829eed",
        fullname: "Nguyễn Xuân Hiệp",
        username: "superadmin",
        gov_agencies: "64e80d08307d8000132c32f4",
        creator: "64e882ae46e87f001a829eed",
        updater: "64e8809046e87f001a829e96",
        password: "GGz3dMl7YKHBBu9xjRCXCmoG4GvviVU9muZdk4qIbq4=",
        gender: 1,
        order: 1,
        birthday: "aN-aN-NaN",
        phoneNumber: "0962523878",
        email: "hiepnguyenxuan151@gmail.com",
        position: null,
        department: "64e8196b307d8000132c3446",
        created_at: 1692959406953,
        last_updated: 1692959406953,
        last_login: 1695007181482,
        last_change_password: 1694600505895,
        __v: 0,
      },
    };
  },
  methods: {
    ...mapActions("User", ["getUser"]),

    handleClose() {
      this.$emit("handleClose");
    },
    formatDate(value) {
      var dateVal = new Date(value);

      var hour =
        dateVal.getHours() > 9 ? dateVal.getHours() : "0" + dateVal.getHours();

      var minute =
        dateVal.getMinutes() > 9
          ? dateVal.getMinutes()
          : "0" + dateVal.getMinutes();

      var day =
        dateVal.getDate() > 9 ? dateVal.getDate() : "0" + dateVal.getDate();
      var month =
        dateVal.getMonth() + 1 > 9
          ? dateVal.getMonth() + 1
          : "0" + (dateVal.getMonth() + 1);
      return `${hour}:${minute} ${day}/${month}/${dateVal.getFullYear()}`;
    },
    onGetUserInfo(userId) {
      this.getUser(userId).then((res) => {
        if (res.ok) {
          this.userInfo = res.data;
          return this.userInfo.fullname;
        }
      });
    },
  },
  computed: {},
  created() { },
  updated() { },
};
</script>
<style>
.modal-history {
  background-color: rgba(29, 29, 31, 0.6);
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.container-history {
  background-color: #ffffff;
  border-radius: 8px 0px 0px 8px;
  min-width: 400px;
  height: 100%;
  padding: 24px;
  overflow-y: auto;
}

.title-history {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  margin-left: 24px;
}

.title-history span:last-child {
  cursor: pointer;
}

.container-history>div:first-child>span:first-child {
  font-size: 20px;
  font-weight: 600;
  color: rgba(34, 49, 63, 1);
}

.his-step {
  background-color: rgba(67, 142, 185, 0.16);
  padding: 16px;
  border-radius: 8px;
  margin-bottom: 12px;
  margin-left: 24px;
  position: relative;
  flex: 1;
}

.his-step-common {
  display: flex;
  align-items: center;
}

.his-step-common img {
  margin-right: 6px;
}

.his-step-time {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 8px;
}

.his-step-notification {
  font-size: 14px;
  font-weight: 400;
}

.his-step-notification span {
  margin-right: 4px;
  font-size: 14px;
  font-weight: 600;
}

.his-step-content {
  display: flex;
  flex-direction: row;
  position: relative;
}

.phase-history {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-phase {
  margin-top: 20px;
  width: 14px;
  height: 14px;
  border-radius: 9999px;
  background-color: rgba(217, 217, 217, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.dot-phase {
  width: 8px;
  height: 8px;
  background-color: rgba(67, 142, 185, 0.16);
  border-radius: 9999px;
}

.div-phase {
  width: 4px;
  height: 90px;
  background-color: rgba(67, 142, 185, 0.16);
}
</style>
