<template>
  <div>
    <el-select
      multiple
      placeholder="Chọn..."
      style="width: 100%"
      v-model="selectedItem"
      @change="changeItem(selectedItem)"
    >
      <el-option
        v-for="item in itemTable"
        :key="item._id"
        :label="item.title"
        :value="item._id"
      />
    </el-select>
  </div>
</template>
<script>
import { mapActions } from "vuex";
export default {
  data() {
    return {
      selectedItem: [],
      itemTable: [
        { _id: "id1", title: "demo1" },
        { _id: "id2", title: "demo2" },
        { _id: "id3", title: "demo3" },
        { _id: "id4", title: "demo4" },
        { _id: "id5", title: "demo5" },
        { _id: "id6", title: "demo6" },    
      ],
      id: [],
      // selectedItem: null
    };
  },

  created() {
    if (this.role) {
      this.getRoleData();
    }
    if (this.group) {
      this.getGroupData();
    }
    if (this.permission) {
      this.getPermissionData();
    }
    if (this.resource) {
      this.getResourceData();
    }
  },
  props: {
    permission: {
      type: Boolean,
      require: true,
      default: false,
    },
    role: {
      type: Boolean,
      require: true,
      default: false,
    },
    resource: {
      type: Boolean,
      require: true,
      default: false,
    },
    group: {
      type: Boolean,
      require: true,
      default: false,
    },

    options: {
      type: Array,
      required: true,
    },
  },
  methods: {
    ...mapActions("Role", ["getRole"]),
    ...mapActions("Group", ["getGroup"]),
    ...mapActions("Resource", ["getResource"]),
    ...mapActions("permisson", ["getPermission"]),

    getRoleData() {
      let param = "?perPage=500";
      this.getRole(param).then((res) => {
        this.itemTable = res.data;
      });
    },

    getGroupData() {
      let param = "?perPage=500";
      this.getGroup(param).then((res) => {
        this.itemTable = res.data;
      });
    },

    getResourceData() {
      let param = "?perPage=500";
      this.getResource(param).then((res) => {
        this.itemTable = res.data;
      });
    },

    getPermissionData() {
      let param = "?perPage=500";
      this.getPermission(param).then((res) => {
        this.itemTable = res.data;
      });
    },

    changeItem(item) {
      const listId = [];
      if (item && item.length > 0) {
        item.forEach((sItem) => {
      
          listId.push(sItem);
          this.$emit("itemSelectChang", listId);
        });
      }
    },
  },
};
</script>
