<template>
  <div style="
      display: flex;
      padding-bottom: 16px;
      padding-left: 12px;
      padding-right: 12px;
      justify-content: space-between;
    ">
    <div>
      <span style="
          color: var(--neutral-dark-ink-500, #22313f);

          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 18px;
        ">
        Hiển thị
      </span>

      <select v-model="itemsPerPage" @change="updateItemsPerPage(itemsPerPage)" class="selectSt">
        <option v-for="perPage in totalInOnePage" :key="perPage" :value="perPage">
          {{ perPage }}
        </option>
      </select>
      <span style="
          color: var(--neutral-dark-ink-400, #6d767e);

          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 18px;
        ">
        bản ghi trong tổng số {{ totalItem }} bản ghi
      </span>
    </div>
    <div style="display: flex">
      <div>
        <a @click="onClickPreviousPage">
          <img src="../assets/svg/icon_prevPage.svg" alt="" /></a>
      </div>

      <div style="padding-right: 16px; padding-left: 16px" v-for="page in pages" :key="page.name">
        <button class="nutbamPage" type="button" :class="{ active: page.isDisabled }" @click="onClickPage(page.name)">
          {{ page.name }}
        </button>
      </div>

      <div style="padding-right: 16px">
        <a @click="onClickNextPage">
          <img src="../assets/svg/icon_nextPage.svg" />
        </a>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      //  totalPages: 2,
      totalInOnePage: [10, 20, 30, 40, 50, 100],
      total: 6,
      currentPage: 1,
      perPage: 10,
      itemsPerPage: 10,
    };
  },
  props: {
    maxVisibleButtons: {
      type: Number,
      required: false,
      default: 4,
    },

    totalItem: {
      type: Number,
      required: true,
    },
  },
  methods: {
    updateItemsPerPage(perPage) {
      this.$emit("perpagechanged", perPage);
      this.currentPage = 1;
      this.perPage = perPage;
    },

    onClickPreviousPage() {
      if (this.currentPage > 1) {
        this.currentPage -= 1;
        this.$emit("pagechanged", this.currentPage);
      }
    },
    onClickPage(page) {
      this.currentPage = page;
      this.$emit("pagechanged", page);
    },
    onClickNextPage() {
      if (this.currentPage < this.totalPages) {
        this.currentPage += 1; // Thay đổi currentPage trước khi gọi sự kiện pagechanged
        this.$emit("pagechanged", this.currentPage);
      }
    },
  },
  computed: {
    totalPages() {
      this.totalPages = Math.ceil(this.totalItem / this.perPage);
      if (Math.ceil(this.totalItem / this.perPage) > 0) {
        return (this.totalPages = Math.ceil(this.totalItem / this.perPage));
      } else {
        return (this.totalPages = 1);
      }
    },

    pages() {
      const range = [];
      for (
        let i = this.startPage;
        i <=
        Math.min(this.startPage + this.maxVisibleButtons - 1, this.totalPages);
        i += 1
      ) {
        range.push({
          name: i,
          isDisabled: i === this.currentPage,
        });
      }
      return range;
    },

    startPage() {
      if (this.currentPage === 1) {
        return 1;
      }

      if (this.currentPage === this.totalPages) {
        return Math.max(this.totalPages - this.maxVisibleButtons + 1, 1);
      }

      return Math.max(
        this.currentPage - Math.floor(this.maxVisibleButtons / 2),
        1
      );
    },
  },
  watch: {},
};
</script>

<style>
.pagination {
  list-style-type: none;
}

.pagination-item {
  display: inline-block;
}

.active {
  color: #6bd9e3;
}

.nutbamPage {
  width: 30px;
  height: 30px;
  border-radius: 4px;
  border: 1px solid var(--stroke-2, #ffffff);
  background: #ffffff;
}

.selectSt {
  width: 50px;
  height: 30px;
  border-radius: 4px 4px 4px 4px;
  background: var(--neutral-white, #fff);
}
</style>
