<template>
    Test COMPONENT
    <div class="popup">
     <div class="popup-content">
        <div
        style="
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        "
      >
        <span class="popuptitle"> Xóa đơn vị </span>
        <a @click="controlPopup.xoaDonvi = false">
          <img src="@/assets/svg/icon_closetab.svg"
        /></a>
      </div>
   

     </div>
   </div>
 
 </template>
      
      <script>
      
      export default {
      
      };
      </script>
      
      <style>
     .popup {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.7);
   display: flex;
   justify-content: center;
   align-items: center;
 }
 
 .popup-content {
   display: flex;
   flex-direction: column;
   background-color: #fff;
   padding: 20px;
   border-radius: 8px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
 }
     </style>
      