<template>
  <div v-if="check && status == 0" class="popupT" style="z-index: 1000">
    <div class="popup-contentT">
      <div style="display: flex; flex-direction: row; padding-top: 16px; padding-left: 16px;"> <img src="../assets/svg/icon_thanhCong.svg"> <span style="color: var(--neutral-light-n-800, #172B4D);

/* Inter/16/Semi Bold */

font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 24px;
padding-left: 8px; /* 150% */"> Thành Công </span> </div>
      <div style="padding-right: 12px; padding-bottom: 12px; margin-left: 48px; margin-bottom: 8px;"> <span style="color: var(--neutral-light-n-800, #172B4D);

/* Inter/14/Regular */

font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; 
margin-right: 40px;
word-wrap: break-word; 
/* 142.857% */"> {{ message }} </span> </div>

    </div>
  </div>

  <div v-if="check && status == 1" class="popupT">
    <div class="popup-contentF">
      <div style="display: flex; flex-direction: row; padding-top: 16px; padding-left: 16px;"> <img src="../assets/svg/icon_thatBai.svg"> <span style="color: var(--neutral-light-n-800, #172B4D);

/* Inter/16/Semi Bold */

font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 24px;
padding-left: 8px; /* 150% */"> Thất bại</span> </div>
      <div> <span style="color: var(--neutral-light-n-800, #172B4D);

/* Inter/14/Regular */

font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; padding-left: 48px; /* 142.857% */"> {{ message }} </span> </div>

    </div>
  </div>

  <div v-if="check && status == 2" class="popupT">
    <div class="popup-contentW">
      <div style="display: flex; flex-direction: row; padding-top: 16px; padding-left: 16px;"> <img src="../assets/svg/icon_warning.svg"> <span style="color: var(--neutral-light-n-800, #172B4D);

/* Inter/16/Semi Bold */

font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 24px;
padding-left: 8px; /* 150% */"> Cảnh báo</span> </div>
      <div> <span style="color: var(--neutral-light-n-800, #172B4D);

/* Inter/14/Regular */

font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; padding-left: 48px; /* 142.857% */"> {{ message }} </span> </div>

    </div>
  </div>
</template>

<script>
export default {
  watch: {
    "show": function (newVal, oldVal) {
      if (newVal) {
        this.check = true
        setTimeout(() => {
          this.check = false;

        }, 6000);
      };
      if (oldVal) {
        this.check = true
        setTimeout(() => {
          this.check = false;

        }, 6000);
      };
    }

  },
  data() {
    return {
      warning: false,
      checkStatus: true,
      check: false,
    }
  },
  props: {
    status: {
      type: Number,
      default: 0
    },

    show: {
      type: Boolean,
      default: false
    },
    message: String
  }
}
</script>

<style scoped>
.popupT {
  z-index: 99;
  max-width: 100%;
  max-height: 100%;
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  pointer-events: none;
}
.popup-contentT {
  z-index: 99;
  margin-bottom: 12px;
  margin-right: 12px;
  margin-left: auto;
  width: 360px;
  height: 84px;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #E3FCEF;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.popup-contentF {
  z-index: 99;
  margin-bottom: 12px;
  margin-right: 12px;
  margin-left: auto;
  width: 360px;
  height: 84px;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #FFEBE6;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.popup-contentW {
  z-index: 99;
  margin-bottom: 12px;
  margin-right: 12px;
  margin-left: auto;
  width: 360px;
  height: 84px;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #FFFAE6;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
</style>
