<template>
  <div v-if="dropDown && !required && type != 'date'">
    <label v-if="label != null" class="labelText1" :for="name"
      >{{ label }}
    </label>
    <br v-if="label != null" />
    <el-select
      :disabled="disable"
      @clear="handleClear"
      :clearable="clearable"
      @change="change"
      :name="name"
      :multiple="mutiDropItem"
      class="search1"
      :placeholder="placeho"
      v-model="arrayValue"
      @blur="validate"
      :tabindex="tabindex"
    >
      <el-option
        v-for="item in dropitem"
        :key="item.key"
        :label="item.label"
        :value="item.value"
      />
    </el-select>
  </div>

  <div v-if="dropDown && required && type != 'date'">
    <label class="labelText1" :for="name"
      >{{ label }} <span style="color: red">*</span>
    </label>
    <br />
    <el-select
      @clear="handleClear"
      @change="change"
      :name="name"
      :multiple="mutiDropItem"
      class="search1"
      :placeholder="placeho"
      v-model="arrayValue"
      @blur="validate"
      :clearable="clearable"
      :tabindex="tabindex"
      :disabled="disable"
    >
      <el-option
        v-for="item in dropitem"
        :key="item.key"
        :label="item.label"
        :value="item.value"
      />
    </el-select>
    <div class="error" style="color: red">{{ error }}</div>
  </div>

  <div v-if="!required && !dropDown && type != 'date'">
    <label v-if="label != null" class="labelText1" :for="name"
      >{{ label }}
    </label>
    <br v-if="label != null" />
    <el-input
      max="999"
      ref="inputValue"
      :id="id"
      @clear="handleClear"
      @keyup.enter="enterkey"
      :autosize="{ minRows: 2, maxRows: 2 }"
      clearable
      :disabled="disable"
      @change="change"
      :placeholder="placeho"
      :type="type"
      class="search1"
      v-model="value"
      :maxlength="maxLen"
      :name="name"
      :tabindex="tabindex"
    >
    </el-input>
    <!-- <input
    :disabled="disable"
      @change="change"
      :placeholder="placeho"
      :type="type"
      class="search1"
      :name="name"
      v-model="value"
      :maxlength="maxLen"
    /> -->
  </div>

  <div v-if="required && !dropDown && type != 'date'">
    <label class="labelText1" :for="name"
      >{{ label }} <span style="color: red">*</span>
    </label>
    <br />
    <!-- <input :disabled="disable" :placeholder="placeho" :type="type" class="search1" :name="name" v-model="value" @blur="validate" :maxlength="maxLen" /> -->
    <el-input
      ref="inputValue"
      :id="id"
      @clear="handleClear"
      @keyup.enter="enterkey"
      clearable
      :autosize="{ minRows: 2, maxRows: 2 }"
      :disabled="disable"
      :placeholder="placeho"
      :type="type"
      class="search1"
      :name="name"
      v-model="value"
      @blur="validate"
      :maxlength="maxLen"
      :show-password="type == 'password'"
      :tabindex="tabindex"
    ></el-input>
    <div v-if="type != 'textarea'" class="error" style="color: red">
      {{ error }}
    </div>
    <div
      v-if="type == 'textarea'"
      class="error"
      style="margin-top: 12px; color: red"
    >
      {{ error }}
    </div>
  </div>

  <div v-if="type == 'date' && required">
    <label class="labelText1" :for="name"
      >{{ label }} <span style="color: red">*</span>
    </label>
    <br v-if="label != null" />
    <el-date-picker
      :tabindex="tabindex"
      @change="change"
      @clear="handleClear"
      @keyup.enter="enterkey"
      type="date"
      @blur="validate"
      value-format="DD/MM/YYYY"
      format="DD/MM/YYYY"
      v-model="value"
      class="search1"
      placeholder="Chọn..."
      :disabled-date="disabledDate"
      clearable
    />
    <div v-if="type != 'textarea'" class="error" style="color: red">
      {{ error }}
    </div>
  </div>
  <div v-if="type == 'date' && !required">
    <label class="labelText1" :for="name">{{ label }} </label>
    <br v-if="label != null" />
    <el-date-picker
      :tabindex="tabindex"
      @change="change"
      @clear="handleClear"
      @keyup.enter="enterkey"
      type="date"
      value-format="DD/MM/YYYY"
      format="DD/MM/YYYY"
      v-model="value"
      class="search1"
      placeholder="Chọn..."
      :disabled-date="disabledDate"
      :default-value="Date.now()"
      clearable
    />
  </div>
</template>

<script>
export default {
  watch: {
    errorText: function (newValue, oldValue) {
      this.validate();
    },
    inputValue:function(newValue, oldValue){
      this.value = newValue;
    },
    inputDropItem:function(newValue, oldValue){
      this.arrayValue = newValue;
    }
  },
  name: "ValidateInput",
  props: {
    clearable: {
      type: Boolean,
      default: true,
    },
    disable: {
      type: String,
      default: false,
    },
    inputDropItem: {
      type: Array,
      default: null,
    },
    mutiDropItem: {
      type: Boolean,
      default: false,
    },
    dropitem: {
      type: Array,
      default: null,
    },
    dropDown: {
      type: Boolean,
      default: false,
    },
    maxLen: {
      type: Number,
      required: true,
      default: 200,
    },
    inputValue: {
      type: String,
      required: false,
    },
    placeho: {
      type: String,
      required: true,
      default: " Nhập...",
    },
    label: {
      type: String,
      required: false,
      default: null,
    },
    name: {
      type: String,
      required: true,
    },
    type: {
      type: String,
      default: "text",
    },
    required: {
      type: Boolean,
      default: false,
    },
    errorText: {
      type: String,
    },
    ref: {
      type: String,
    },
    id: {
      type: String,
    },
    tabindex: {
      type: Number,
      default: 1,
    },
  },
  data() {
    return {
      value1: "",
      selectedDate: new Date(),
      inputError: "",
      arrayValue: [],
      value: "",
      error: "",
    };
  },
  created() {
    this.inputError = this.errorText;
    this.value = this.inputValue;
    this.arrayValue = this.inputDropItem;
  },
  methods: {
    disabledDate(time) {
      return time.getTime() > Date.now();
    },
    enterkey() {
      this.$emit("enterKey");
    },
    handleClear() {
      this.$emit("handleClear");
      this.arrayValue = null;
      this.value = null;

    },

    change() {
  
   
    
      this.validate();
      if (this.dropDown) {
       
        this.$emit("change"), this.$emit("output", this.arrayValue);
      } else {
        this.$emit("change");
        this.$emit("output", this.value);
      }
    },
    focus() {
      this.$refs["inputValue"].focus();
    },
    validate() {
      let checkValidate = false;

      if (this.dropDown) {
        // neu la dropdown
        this.$emit("output", this.arrayValue);
        this.error = "";
        if (this.mutiDropItem && this.dropDown) {
          let a = this.arrayValue.length;
          if (a === 0 || this.arrayValue === null) {
            checkValidate = false;
            this.error = `Trường dữ liệu này không được để trống`;
          }
        } else {
          checkValidate = true;
        }

        if (this.required && this.arrayValue != null) {
          checkValidate = true;
        } else {
          checkValidate = false;
          this.error = `Trường dữ liệu này không được để trống`;
        }
      } else {
        this.$emit("output", this.value);
        this.error = "";

        if (this.value) {
          // this.value = this.value.trim();
        } // xoá bỏ khoẳng trống đầu và cuối

        if (this.required && !this.value) {
          checkValidate = false;
          // TH có truyển vào errorText
          if (this.errorText) {
            this.error = this.errorText;
          } else {
            this.error = `Trường dữ liệu này không được để trống`;
          }
        } else if (this.integer && !Number.isInteger(Number(this.value))) {
          checkValidate = false;
          this.error = `${this.label} sai định dạng.`;
        } else if (this.email && !this.validateEmail(this.value)) {
          checkValidate = false;
          this.error = `${this.label} không đúng email.`;
        } else if (this.value && this.errorText && this.required) {
          checkValidate = true;
          this.error = this.errorText;
        } else {
          checkValidate = true;
        }
      }
      return checkValidate;
    },
  },
};
</script>
<style>
.el-date-editor.el-input {
  width: 100% !important;
}
.labelText1 {
  color: var(--neutral-dark-ink-500, #22313f);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 142.857% */
}

.search1 {
  width: 100%;
  /* height: 38px; */
  border-radius: 4px;
  border: 1px solid var(--neutral-4, #f0f0f0);
  background: var(--neutral-white, #fff);
}

.form-select-36 {
  width: 100%;
  height: 36px;
  border-radius: 4px;
  border: 1px solid var(--neutral-4, #f0f0f0);
  background: var(--neutral-white, #fff);
}

input:disabled {
  background-color: #f2f2f2;
  /* Màu nền */
  color: #999;
  /* Màu chữ */
  border-color: #ddd;
  /* Màu viền */
  cursor: not-allowed;
  /* Đổi kiểu con trỏ chuột thành "not-allowed" khi hover trên trường input disable */
}
</style>
