<template>
  <div v-if="isSignIn">
    <router-view
      v-show="showPage"
      :key="`${$route.path}${JSON.stringify($route.query)}`"
    />
  </div>

  <div v-if="!isSignIn" class="page-container">
    <the-navbar
      @openPopup="openPopup"
      @openPop2="openChangPass"
      v-if="!isSignIn"
    >
      <div>
        <router-view
          v-show="showPage"
          :key="`${$route.path}${JSON.stringify($route.query)}`"
        />
      </div>
    </the-navbar>
   <div v-if="showToastCommon"></div>
    <el-footer>
      <div class="layoutFooter">
        <span class="textFooter">{{ footerS.dep }}</span>
        <span class="textFooter">{{ footerS.web }}</span>
        <span class="textFooter">{{ footerS.phone }}</span>
        <span class="textFooter">{{ footerS.email }}</span>
      </div>
    </el-footer>
  </div>

  <div v-if="controlPopup.capNhatMatKhau" class="popup">
    <div class="popup-content" style="width: 35%; height: auto">
      <div class="rowSpaceB">
        <span class="popuptitle"> Cập nhật mật khẩu </span>
        <span class="popuptitle">
          <a @click="controlPopup.capNhatMatKhau = false">
            <img src="@/assets/svg/icon_closetab.svg"
          /></a>
        </span>
      </div>
      <ValidationForm
        ref="inputoldPassword"
        @output="formChangPass.oldPassword = $event"
        label="Mật khẩu hiện tại"
        type="password"
        required
      >
      </ValidationForm>
      <ValidationForm
        :errorText="errortext"
        ref="inputnewPassword"
        @output="formChangPass.newPassword = $event"
        label="Mật khẩu mới"
        type="password"
        required
      ></ValidationForm>
      <ValidationForm
        :errorText="errortext"
        ref="inputreNewPassword"
        @output="formChangPass.reNewPassword = $event"
        label="Nhập lại mật khẩu "
        type="password"
        required
      ></ValidationForm>
      <div class="rowPopRight">
        <a @click="controlPopup.capNhatMatKhau = false">
          <img src="@/assets/svg/icon_button_huy.svg"
        /></a>
        <a @click="changPassButton" style="margin-left: 8px">
          <img src="@/assets/svg/icon_button_save.svg"
        /></a>
      </div>
    </div>
  </div>

  <div v-if="controlPopup.thongTinCaNhan" class="popup">
    <div class="popup-content" style="width: 35%; height: auto; gap: 24px">
      <div class="rowSpaceB">
        <span class="popuptitle"> Thông tin cá nhân </span>
        <span class="popuptitle">
          <a @click="controlPopup.thongTinCaNhan = false">
            <img src="@/assets/svg/icon_closetab.svg"
          /></a>
        </span>
      </div>
      <div class="rowPop">
        <span style="width: 38%"> Họ và tên : </span>
        <span style="width: 60%; word-break: break-all">
          {{ userInfo.hoVaTen }}
        </span>
      </div>
      <div class="rowPop">
        <span style="width: 38%"> Chức vụ : </span>
        <span style="width: 60%; word-break: break-all">
          {{ userInfo.chucVu }}
        </span>
      </div>
      <div class="rowPop">
        <span style="width: 38%"> Ngày sinh : </span>
        <span style="width: 60%; word-break: break-all">
          {{ userInfo.ngaySinh }}
        </span>
      </div>
      <div class="rowPop">
        <span style="width: 38%"> Giới tính : </span>
        <span style="width: 60%; word-break: break-all">
          {{ userInfo.gioiTinh }}
        </span>
      </div>
      <div class="rowPop">
        <span style="width: 38%"> Email : </span>
        <span style="width: 60%; word-break: break-all">
          {{ userInfo.email }}
        </span>
      </div>
      <div class="rowPop">
        <span style="width: 38%"> Điện thoại : </span>
        <span style="width: 60%; word-break: break-all">
          {{ userInfo.phoneNumber }}
        </span>
      </div>
      <div class="rowPop">
        <span style="width: 38%"> Đơn vị : </span>
        <span style="width: 60%; word-break: break-all">
          {{ userInfo.donVi }}
        </span>
      </div>
      <div class="rowPop">
        <span style="width: 38%"> Phòng Ban : </span>
        <span style="width: 60%; word-break: break-all">
          {{ userInfo.phongBan }}
        </span>
      </div>
      <div class="rowPopRight">
        <a @click="controlPopup.thongTinCaNhan = false">
          <img style="width: 100%" src="@/assets/svg/icon_button_huy.svg"
        /></a>
        <a @click="openChinhSuaNguoiDung" style="margin-left: 8px">
          <img style="width: 100%" src="@/assets/svg/icon_button_edit_blue.svg"
        /></a>
      </div>
    </div>
  </div>
  <div v-if="controlPopup.chinhSuaNguoiDung" class="popup">
    <div class="popup-content" style="width: 35%; height: auto">
      <div class="rowSpaceB">
        <span class="popuptitle"> Chỉnh sửa thông tin cá nhân </span>
        <span class="popuptitle">
          <a @click="controlPopup.chinhSuaNguoiDung = false">
            <img src="@/assets/svg/icon_closetab.svg" />
          </a>
        </span>
      </div>
      <div style="display: flex; flex-direction: row">
        <div class="popupDonvi">
          <ValidationForm :disable="true" label="Tên Đăng Nhập" required>
          </ValidationForm>
        </div>

        <div style="display: flex; flex-direction: column; width: 50%"></div>
      </div>

      <div style="display: flex; flex-direction: row">
        <div class="popupDonvi">
          <ValidationForm label="Họ và tên" required> </ValidationForm>
        </div>

        <div style="display: flex; flex-direction: column; width: 50%">
          <ValidationForm :dropDown="true" label="Chức vụ"> </ValidationForm>
        </div>
      </div>

      <div style="display: flex; flex-direction: row">
        <div class="popupDonvi">
          <ValidationForm label="Ngày sinh" type="date"> </ValidationForm>
        </div>

        <div style="display: flex; flex-direction: column; width: 50%">
          <ValidationForm :dropDown="true" label="Giới tính"> </ValidationForm>
        </div>
      </div>

      <div style="display: flex; flex-direction: row">
        <div class="popupDonvi">
          <ValidationForm :disable="true" label="Email" required>
          </ValidationForm>
        </div>

        <div style="display: flex; flex-direction: column; width: 50%">
          <ValidationForm label="Điện thoại"> </ValidationForm>
        </div>
      </div>

      <div style="display: flex; flex-direction: row">
        <div class="popupDonvi">
          <ValidationForm :disable="true" label="Đơn vị " required>
          </ValidationForm>
        </div>

        <div style="display: flex; flex-direction: column; width: 50%">
          <ValidationForm label="Phòng ban" required :disable="true">
          </ValidationForm>
        </div>
      </div>

      <div class="rowPopRight">
        <a @click="controlPopup.chinhSuaNguoiDung = false">
          <img style="width: 100%" src="@/assets/svg/icon_button_huy.svg"
        /></a>
        <a style="margin-left: 8px" @click="buttonChinhSuaNguoiDung">
          <img style="width: 100%" src="@/assets/svg/icon_button_save.svg"
        /></a>
      </div>
    </div>
  </div>
  <show-toast
    :message="toastMessage"
    :show="showToastCommon"
    :status="statusToast"
  ></show-toast>
</template>

<script>
import TheNavbar from "../src/components/TheNavBar.vue";
import ValidationForm from "@/components/ValidationForm.vue";
import { mapActions, mapGetters, mapMutations } from "vuex";
import ShowToast from "./components/ShowToast.vue";

export default {
  created() {
    this.footerS.dep = process.env.VUE_APP_DEP;
    this.footerS.web = process.env.VUE_APP_WEBSITE;
    this.footerS.phone = process.env.VUE_APP_PHONE;
    this.footerS.email = process.env.VUE_APP_EMAIL;
  },
  name: "App",
  components: { TheNavbar, ValidationForm, ShowToast },
  data() {
    return {
      openTTT : false ,
      footerS: {
        dep: "",
        web: "",
        email: "",
        phone: "",
      },
      errortext: "",
      formChangPass: {
        username: "",
        oldPassword: "",
        newPassword: "",
        reNewPassword: "",
      },
      controlPopup: {
        capNhatMatKhau: false,
        thongTinCaNhan: false,
        chinhSuaNguoiDung: false,
      },
      userInfo: {
        tenDangNhap: "",
        hoVaTen: "",
        chucVu: "",
        ngaySinh: "",
        gioiTinh: "",
        email: "",
        phoneNumber: "",
        donVi: "",
        phongBan: "",
      },
      showPage: true,
      showHeader: false,
    };
  },
  computed: {
    ...mapGetters("common", ["showToastCommon", "toastMessage", "statusToast"]),
    change(){
      this.openTTT = this.showToastCommon;
    }, 

    isSignIn() {
      return this.$route.name === "SignIn";
    },
  },
  watch: {
    showToastCommon(newShowToastValue) {
      alert()
      this.openTTT = newShowToastValue;
    },
  

  },
  methods: {
    ...mapActions("User", ["getUserInfo", "editUser", "changePass"]),
    openChangPass(key) {
      this.controlPopup.capNhatMatKhau = key;
    },
    openChinhSuaNguoiDung() {
      (this.controlPopup.chinhSuaNguoiDung = true),
        (this.controlPopup.thongTinCaNhan = false);
    },
    buttonChinhSuaNguoiDung() {},
    openPopup(key) {
      this.controlPopup.thongTinCaNhan = key;
      let id = window.localStorage.getItem("idUser");
      this.getUserInfo(id).then((res) => {
        if (res.statuscode == 200) {
          (this.userInfo.hoVaTen = res.exist.fullname),
            (this.userInfo.tenDangNhap = res.exist.username),
            (this.userInfo.chucVu = res.exist.manage),
            (this.userInfo.ngaySinh = res.exist.birthday),
            (this.userInfo.gioiTinh = res.exist.gender),
            (this.userInfo.email = res.exist.email),
            (this.userInfo.phoneNumber = res.exist.phoneNumber),
            (this.userInfo.donVi = res.exist.gov_agencies),
            (this.userInfo.phongBan = res.exist.department);
        }
      });
    },
    changPassButton() {
      this.errortext = "";
      let a = this.$refs.inputoldPassword.validate();
      let b = this.$refs.inputnewPassword.validate();
      let c = this.$refs.inputreNewPassword.validate();
      if (a && b && c) {
        if (
          this.formChangPass.newPassword != this.formChangPass.reNewPassword
        ) {
          this.errortext = "Mật khẩu không khớp, vui lòng nhập lại !";
        } else {
          let body = {
            form: {
              username: window.localStorage.getItem("username"),
              oldPassword: this.formChangPass.oldPassword,
              newPassword: this.formChangPass.newPassword,
            },
          };
          this.changePass(body).then((res) => {
            if (res.statuscode == 200) {
              this.statusToast = 0;
              this.messToast = res.msg;
              this.openToast = !this.openToast;
              this.controlPopup.capNhatMatKhau = false;
            }
            if (res.statuscode == 400) {
              this.statusToast = 1;
              this.messToast = res.msg;
              this.openToast = !this.openToast;
            }
          });
        }
      }
    },
  },
};
</script>

<style>
iframe#webpack-dev-server-client-overlay {
  display: none !important;
}

@import "./assets/css/style.css";

.page-container {
  min-height: 100%;
  margin-bottom: -60px;
  padding-bottom: 40px;
}

.home-section {
  position: relative;
  background: #e4e9f7;
  height: 100vh;
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
}

.home-section .home-content {
  height: 60px;
  display: flex;
  align-items: center;
}

.home-section .home-content .bx-menu,
.home-section .home-content .text {
  color: #11101d;
  font-size: 35px;
}

.home-section .home-content .bx-menu {
  margin: 0 15px;
  cursor: pointer;
}

.home-section .home-content .text {
  font-size: 26px;
  font-weight: 600;
}

.header.close ~ .home-section {
  left: 78px;
  width: calc(100% - 60px);
}

.el-input {
  min-height: 38px;
}
.rowPopRight {
  padding-top: 12px;
  display: flex;
  justify-content: right;
}

.el-footer {
  justify-content: center;
  text-align: center;
  display: flex;
  align-items: center;
  background-color: rgba(67, 142, 185, 0.1);
  --el-footer-height: 40px !important;
}
.layoutFooter {
  display: flex;
  gap: 20px;
  height: 24px;
  flex-direction: row;
  justify-content: center;
}

.textFooter {
  color: #438eb9;
  text-align: center;

  /* Inter/13/Regular */
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 138.462% */
}
</style>
